<!--<div class="p-3 mb-2 bg-success text-white text-center">
    <p class="h2"><strong><i class="fas fa-recycle"></i> Amlurb</strong></p>
</div> -->
<section>
    <div class="container pt-4">
        <div class="row">
        <div class="col-12">
            <form class="row align-items-center" #myForm="ngForm" (ngSubmit)="cadastrarPrestacao(myForm.value)">
                <div class="form-group col-12">
                    <label for="categoria" class="form-label text-success">categoria</label>
                    <select class="form-select form-select-lg mb-3 border border-success text-secondary" aria-label="Selecione o tipo de material" [(ngModel)]="prestacao.categoria" name="categoria" required>
                        <option *ngFor="let categoria of categoriasForm" value="{{categoria}}">{{categoria}}</option>
                    </select>
                </div>
                <div class="form-group col-12">
                    <label for="kg-material" class="form-label text-success mb-0">quantidade de material comercializado</label>
                    <span>Insira até 12 dígitos no formato 0,00</span>
                    <div class="input-group">
                        <div class="input-group-text input-group-text-lg bg-success text-white mb-3 border border-success">Kg</div>
                        <input type="number" step=0.01 class="form-control form-control-lg mb-3 border border-success text-secondary" id="kg-material" [(ngModel)]="prestacao.qteMatComercializado" name="qteMatComercializado" required>
                    </div>
                </div>
                <div class="form-group col-12">
                    <label for="valor-material" class="form-label text-success mb-0">valor</label>
                    <span>Insira até 12 dígitos no formato 0,00</span>
                    <div class="input-group">
                        <div class="input-group-text input-group-text-lg bg-success text-white mb-3 border border-success">R$</div>
                        <input type="number" step=0.01 class="form-control form-control-lg mb-3 border border-success text-secondary" id="valor-material" [(ngModel)]="prestacao.valor" name="valor" required>
                    </div>
                </div>
                <div class="form-group col-12">
                    <label for="categoria" class="form-label text-success">zona</label>
                    <select class="form-select form-select-lg mb-3 border border-success text-secondary" [(ngModel)]="prestacao.zona" name="zona" required>
                        <option *ngFor="let zona of zonasForm" value="{{zona}}">{{zona}}</option>
                    </select>
                </div>
                <div class="col-4">
                    <button class="btn btn-success btn-lg" type="submit" [disabled]="!myForm.valid">Inserir</button>
                </div>
            </form>
        </div>
        </div>
    </div>
</section>
