<!--<div class="p-3 mb-2 bg-success text-white text-center">
    <p class="h2"><strong><i class="fas fa-recycle"></i> Amlurb</strong></p>
</div> -->
<section>
    <div class="container pt-4">
        <div class="row">
        <div class="col-12">
            <form class="row align-items-center" #myForm="ngForm" (ngSubmit)="cadastrarPrestacao(myForm.value)">
                <div class="form-group col-12">
                    <label for="categoria" class="form-label text-success">CATEGORIA</label>
                    <select class="form-select form-select-lg mb-3 border border-success text-secondary" aria-label="Selecione o tipo de material" [(ngModel)]="prestacao.categoria" name="categoria">
                        <option value="1">Selecione o tipo de material</option>
                        <option *ngFor="let categoria of categoriasForm" value="{{categoria}}">{{categoria}}</option>
                    </select>
                </div>
                <div class="form-group col-12">
                    <label for="kg-material" class="form-label text-success">QUANT. DE MATERIAL COMERCIALIZADO</label>
                    <div class="input-group">
                        <div class="input-group-text input-group-text-lg bg-success text-white mb-3 border border-success">Kg</div>
                        <input type="number" class="form-control form-control-lg mb-3 border border-success text-secondary" id="kg-material" placeholder="Insira a quantidade" [(ngModel)]="prestacao.qteMatComercializado" name="qteMatComercializado">
                    </div>
                </div>
                <div class="form-group col-12">
                    <label for="valor-material" class="form-label text-success">VALOR</label>
                    <div class="input-group">
                        <div class="input-group-text input-group-text-lg bg-success text-white mb-3 border border-success">R$</div>
                        <input type="number" class="form-control form-control-lg mb-3 border border-success text-secondary" id="valor-material" placeholder="Insira o valor total" [(ngModel)]="prestacao.valor" name="valor">
                    </div>
                </div>
                <div class="form-group col-12">
                    <label for="categoria" class="form-label text-success">REGIÃO</label>
                    <select class="form-select form-select-lg mb-3 border border-success text-secondary" aria-label="Selecione o tipo de material" [(ngModel)]="prestacao.zona" name="zona">
                        <option value="1">Selecione a Zona  de SP</option>
                        <option *ngFor="let zona of zonasForm" value="{{zona}}">{{zona}}</option>
                    </select>
                </div>
                <div class="col-4">
                    <button class="btn btn-rounded" type="submit">Enviar 
                        <i class="btn btn-success btn-lg"></i>
                </button>
                <!--    <a class="btn btn-success btn-lg" routerLink="" role="button">Inserir</a>-->
                </div>
            </form>
        </div>
        </div>
    </div>
</section>
