<!--<div class="p-3 mb-2 bg-success text-white text-center">
    <p class="h2"><strong><i class="fas fa-recycle"></i> Amlurb</strong></p>
</div> -->
<section>
    <div class="container pt-4">
        <div class="row">
        <div class="col-12">
            <form class="row align-items-center">
                <div class="form-group col-12">
                    <label for="categoria" class="form-label text-success">CATEGORIA</label>
                    <select class="form-select form-select-lg mb-3 border border-success text-secondary" aria-label="Selecione o tipo de material">
                        <option value="1">Selecione o tipo de material</option>
                        <option value="2">PAPEL BRANCO</option>
                        <option value="3">JORNAL E REVISTA</option>
                        <option value="4">PAPEL MISTO</option>
                        <option value="5">PAPELÃO</option>
                        <option value="6">TETRA</option>
                        <option value="7">PLÁSTICO PEAD BRANCO</option>
                        <option value="8">PLÁSTICO PEAD COLORIDO</option>
                        <option value="9">PLÁSTICO APARA BRANCA</option>
                        <option value="10">PLÁSTICO APARA COLORIDA</option>
                        <option value="11">PLÁSTICO PP BRANCO</option>
                        <option value="12">PLÁSTICO PP COLORIDO</option>
                        <option value="13">PET BRANCA</option>
                        <option value="14">PET VERDE</option>
                        <option value="15">PET LARANJA</option>
                        <option value="16">PET AZUL</option>
                        <option value="17">PET ÓLEO</option>
                        <option value="18">VIDRO</option>
                        <option value="19">FERROSO</option>
                        <option value="20">OUTROS MATERIAIS</option>
                        <option value="21">PRESTAÇÃO DE SERVIÇOS</option>
                    </select>
                </div>
                <div class="form-group col-12">
                    <label for="kg-material" class="form-label text-success">QUANT. DE MATERIAL COMERCIALIZADO</label>
                    <div class="input-group">
                        <div class="input-group-text input-group-text-lg bg-success text-white mb-3 border border-success">Kg</div>
                        <input type="number" class="form-control form-control-lg mb-3 border border-success text-secondary" id="kg-material" placeholder="Insira a quantidade">
                    </div>
                </div>
                <div class="form-group col-12">
                    <label for="valor-material" class="form-label text-success">VALOR</label>
                    <div class="input-group">
                        <div class="input-group-text input-group-text-lg bg-success text-white mb-3 border border-success">R$</div>
                        <input type="number" class="form-control form-control-lg mb-3 border border-success text-secondary" id="valor-material" placeholder="Insira o valor total">
                    </div>
                </div>
                <div class="form-group col-12">
                    <label for="categoria" class="form-label text-success">REGIÃO</label>
                    <select class="form-select form-select-lg mb-3 border border-success text-secondary" aria-label="Selecione o tipo de material">
                        <option value="1">Selecione a Zona  de SP</option>
                        <option value="2">LESTE</option>
                        <option value="3">OESTE</option>
                        <option value="4">NORTE</option>
                        <option value="5">SUL</option>
                    </select>
                </div>
                <div class="col-4">
                    <a class="btn btn-success btn-lg" href="app-amlurb-result.html" role="button">Inserir</a>
                </div>
            </form>
        </div>
        </div>
    </div>
</section>
