<section>
	<div class="container pt-4">
<!--        <div class="row">
            <div class="form-group col-12">
                <label for="data-consulta" class="form-label text-success">CONSULTA DATA</label>
                <div class="input-group">
                    <div class="input-group-text input-group-addoninput-group-text-lg bg-success text-white mb-3 border border-success"><i class="fas fa-calendar-check"></i></div>
                    <input type="text" class="form-control date form-control-lg mb-3 border border-success text-secondary" id="data-consulta" placeholder="Consulte uma data">
                </div>
            </div>
        </div>
-->		
        <div class="row">
            <div class="col-12">
                <div class="table-responsive mb-0" style="border-radius: 0.5rem; ">
                    <table class="table align-middle table-striped table-bordered table-hover align-items-center">
                        <thead class="table-light align-middle text-center">
                            <tr>
                                <th>categoria</th>
                                <th>zona</th> <!-- (leste, sul, etc)-->
                                <th>mínimo</th>
                                <th>máximo</th>
                                <th>média</th> <!-- do valor pela quantidade do material comercializado tendo em vista a categoria-->
                            </tr>
                        </thead>
                        <tbody *ngFor="let item of listaOverview">
                            <tr *ngFor="let categoria of item.categorias">
                                <td>{{categoria.nomeCategoria}}</td>
                                <td>{{item.zona}}</td>
                                <td>{{categoria.minimo}}</td>
                                <td>{{categoria.maximo}}</td>
                                <td>{{categoria.media}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--<div class="row">
            <div class="col-12">
                <div class="d-grid mt-3">
                    <a class="btn btn-success btn-lg" href="app-amlurb-result.html" role="button">Consultar</a>
                </div>
            </div>
        </div>-->
    </div>
</section>
